# Local action debug files
/.action-debug/
/.e2e/
/test/e2e/ddkbuild/sys/build*.log
/test/e2e/ddkbuild/sys/obj*/

# Node development dependencies
/node_modules/

# Editor/user state
/.idea/
/.vs/
*.user

# OS noise
Thumbs.db
Desktop.ini
